.container {
   
    display: flex;
    width: 100%;
    border-radius: 5px;
    background-color: inherit;
    padding: 10px;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
    row-gap: 10px;
    column-gap:10px;
}

label {
    order: 1;
    flex-shrink: 0;

}
input, select, textarea, .nuSubform , iframe, .nuImage, .nuHtml {
    order: 2;

}

.form-element-wrapper>* {
    position: relative;
}
.othertabs>* {
    position: relative;
}

.form-element-wrapper {
    width: 45%;
    display: flex;
    flex-flow: row wrap;
   }
.form-element-wrapper input , select, textarea, .nuSubform , iframe, .nuImage, .nuHtml, .select2  {
    flex: 3;
}
.nuWord{
    flex: 3;
    text-align: center!important;
}
.nuHtml{
    flex: 3!important;
}
 .input_checkbox{
    flex: 0.5;
    
}
.form-element-wrapper .select2 {
    order: 2;
}
#subiframe {
    display: flex;
     width:90%;
     height:200px!important;
      flex-direction : column!important;
     padding:0 10px;
    flex-flow: row wrap;
    overflow:auto;
}
#subiframe label {
    display: flex;
    flex: 1;
     flex-direction : column;
         text-align: left;
         height:20px!important;
         
}
.form-element-wrapper label {
    flex: 1;
   align-items: flex-start;
    justify-content: flex-start;
    flex-basis: 0;

    margin-right: 10px;
}

#lu {
    display: flex;
    width: 45%;
     flex-flow: row nowrap;
     flex-shrink: 5;
    
}

#lu label {
        flex: 1;
   align-items: flex-start;
    justify-content: flex-start;
    flex-flow: nowrap;
    flex-shrink: 0;
    order: 1;
}

#lu>.look {
    display: flex;
    flex:3;
    height: 30px;
    order: 2;
    flex-shrink: 4;
}

.look> * {
    display:flex;
    position: relative;
    flex: 1;
    flex-shrink: 4;
    flex: 0 1 auto;
}


#lu>.look :nth-child(1) {
    order: 1;
    min-width: 10%;
   max-width:20%;
}
#lu> .look :nth-child(2) {
    order: 2;
   flex:0.1;

}

#lu>.look :nth-child(3) {
    order: 3;
    width: 50% ;
}

#file> :nth-child(1){
    order:3;
    flex:0.0001;
    
}
#file> :nth-child(2){
    order:1;
    
    
}
#file> :nth-child(3){
    order:2;
   
    
}

.form-element-wrapper .input_button{
    
   min-width: 30%;
   max-width: 50%;
    align-items: center; 
    justify-content: center;
     
}

#btn{
     width: 45%;
    display: flex;
    flex:4;
    align-items: center!important; 
    justify-content: center!important;
     flex-flow: row nowrap;
}

.nuSubform{
    
    overflow-x: none;
}
@media (max-width: 700px) {
  
    
    .container {
               width: 95vw;
        padding: 5px;
      
    }

    .form-element-wrapper {
       display: flex;
       width:100%;
  flex-direction : column;
 
    }


    .form-element-wrapper label  {
         text-align: left;

    }
   /*.nuSubform  {*/
   /*  width:100%;*/
   /*  height:400px;*/

   /* }*/
  #lu{
     display: flex;
       width:100%;
  flex-direction : column;
    }
     #lu label {
         text-align: left;
    
}
   #lu .look{
       flex-shrink: 4;
       
   } 
    #subiframe {
    display: flex;
     width:100%;
     height:200px!important;
      flex-direction : column!important;
     padding:0;
    flex-flow: row wrap;
}

}
